.tolov-bars.active{
    background-color: #fff;
    color: #000;
}

.tolov-bars{
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    padding: 5px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}